<a href="https://colab.research.google.com/github/wiembg/DataAnalytics/blob/tripAdvisor/TripAdvisorAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sentiment analysis can be an invaluable tool for organizations to identify and address their customers’ pain points.To gain further clarity on this issue, they collected social media data to understand what their customers were saying about them.
#https://raw.githubusercontent.com/wiembg/Dataset_Trip_Advisor/main/tripadvisor_hotel_reviews.csv
# Reading the Dataset
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/wiembg/Dataset_Trip_Advisor/main/tripadvisor_hotel_reviews.csv')
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [ ]:
len(df.index) # nbre of rows in the dataframe
# Data Preprocessing
# 2 variables – user reviews and ratings,
import numpy as np

def create_sentiment(rating):
    
    if rating==1 or rating==2:
        return -1 # negative sentiment
    elif rating==4 or rating==5:
        return 1 # positive sentiment
    else:
        return 0 # neutral sentiment

df['Sentiment'] = df['Rating'].apply(create_sentiment)
df.head()

                                              Review  Rating  Sentiment
0  nice hotel expensive parking got good deal sta...       4          1
1  ok nothing special charge diamond member hilto...       2         -1
2  nice rooms not 4* experience hotel monaco seat...       3          0
3  unique, great stay, wonderful time hotel monac...       5          1
4  great stay great stay, went seahawk game aweso...       5          1

In [ ]:
from sklearn.feature_extraction.text import re
#in order to eliminate unnecessary noise and only retain information that is valuable 
def clean_data(review):
    
    no_punc = re.sub(r'[^\w\s]', '', review)# regular expression sub with nothing when character set that matches=character that is not a word character ,s:space, tab, or newline.
    no_digits = ''.join([i for i in no_punc if not i.isdigit()])#join to concatenate    
    return(no_digits)
df['Review'][0]
df['Review'] = df['Review'].apply(clean_data)
df['Review'][0]
#All the commas are gone and we are left with clean text data.

'nice hotel expensive parking got good deal stay hotel anniversary arrived late evening took advice previous reviews did valet parking check quick easy little disappointed nonexistent view room room clean nice size bed comfortable woke stiff neck high pillows not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway maybe just noisy neighbors aveda bath products nice did not goldfish stay nice touch taken advantage staying longer location great walking distance shopping overall nice experience having pay  parking night  '

In [ ]:
#TF-IDF Transformation
#convert this text data into a numeric representation so that it can be ingested into the ML model
#TF-IDF is calculated based on 2 metrics:Term frequency/Inverse document frequency
#TFTerm frequency:how many times a term is repeated in a single document ,so it decides its relevance
#IDFInverse Document Frequency ;This helps the algorithm eliminate naturally occurring words such as “a”, “the”, “and”, etc, as they will appear frequently across all documents in a corpus.
from sklearn.feature_extraction.text import TfidfVectorizer
# create a TfidfVectorizer object
#- strip_accents=None: do not remove accents from words
#- lowercase=False: do not convert all words to lowercase
# preprocessor=None: do not apply any preprocessing function to the input data
tfidf = TfidfVectorizer(strip_accents=None, 
                        lowercase=False,
                        preprocessor=None)

#convert it into into a matrix of TF-IDF features
X = tfidf.fit_transform(df['Review'])
#the reviews in our dataset into a vector that can be fed into a machine learning algorithm

In [ ]:
#Step 5: Building and Evaluating the Machine Learning Model
#classify its sentiment into 3 categories:+/-/Neutral
#The training set will contain 75% of the data and the testing set will contain the remaining 25% of the data.
#The training set will contain 75% of the data and the testing set
# will contain the remaining 25% of the data.
from sklearn.model_selection import train_test_split
y = df['Sentiment'] # target variable
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='liblinear')# logistic regression model on the training data and make predictions on the testing data.
lr.fit(X_train,y_train) # fit the model
## use the trained model to make predictions on the testing data
preds = lr.predict(X_test) # make predictions
print(preds)

[ 1  1  1 ...  1  1 -1]

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(preds,y_test) # 0.86

0.8559437829396838